@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');


/* Media - breakpoints */
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  oldDesktop: 992px,
  desktop: 1200px
);


/* Colors */
$text-color: #333333;
$headers-color: #a6a6a6;
$greyBtn-color: #979797;
$greyBtnHover-color: #bababa;
$disabledBtn-color: #e3e3e3;
$btnFont-color: #ffffff;
$bgTopButton-color: #f5f5f2;
$orangeBtn-color: #f58220;
$orangeBtnHover-color: #ffa200;
$greenCheckBox-color: #04AE00;
$bgCheckBoxHover: #f2f2f2;
$positiveNotification-color: #96cc9b;
$positiveNotificationHover-color: #74b67a;
$negativeNotification-color: #ec7171;
$negativeNotificationHover-color: #de5252;
$link-color: #56819F;
$redBorderForm-color: #ff0000;
$greyBorderForm-color: #b1b1b1;
$circleTab-color: #80bfca;
$bgTab-color: #f3f3f1;
$bgTableHover-color: #f1f3f3;
$tableDigit-color: #191919;
$tableArrowUp-color: #a4a4a4;
$manager-color: #808080;
$bgMainMenuHover: #282828;
$hamburger-color: #999999;
$walletP-color: #9c9c9c;
$circleTabGreen-color: #59b66d;
$circleTabOrange-color: #ff9a38;

/* Fonts */
$pageHeader-font: 500 16px/42px 'Roboto', sans-serif;
$sectionHeader-font: 700 16px/42px 'Roboto', sans-serif;
$compoHeader-font: 300 11px/42px 'Roboto', sans-serif;
$text-font: 300 14px/42px 'Roboto', sans-serif;
$largeLink-font: 300 16px/17px 'Roboto', sans-serif;
$smallLink-font: 300 13px/42px 'Roboto', sans-serif;
$btn-font: 300 18px/42px 'Roboto', sans-serif;
$textInput-font: 300 12px/18px 'Roboto', sans-serif;
$tabs-font: 300 16px/42px 'Roboto', sans-serif;
$tablesLineHeader-font: 700 16px/17px 'Roboto', sans-serif;
$thTable-font: 700 13px/15px 'Roboto', sans-serif;
$tdTableSorted-font: 300 13px/17px 'Roboto', sans-serif;
$nameUser-font: 500 30px/42px 'Roboto', sans-serif;
$manager-font: 500 14px/42px 'Roboto', sans-serif;
$wallet-font: 400 20px/42px 'Roboto', sans-serif;