* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: #F5F5F2;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0;  
    margin: 0 auto;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #191919;
	height: 1000px;
}

.sidebar > img {
	margin: 20px 0 10px 20px;
}

.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar ul > li > a {
	display: block;
	text-decoration: none;
	color: #838383;
	font-size: 18px;
	padding: 15px;
	display: flex;
	align-items: center;
	transition-duration: 0.5s;
}


.sidebar ul > li:hover a {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
}


.sidebar ul > li > a > i {
	margin-right: 20px;
}

.leftside {
  margin: 0;
}

.topbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 83.2%;
	margin: 0;
	background-color: #fff;
}

.main {
	margin-left: 16.7%;
	margin-top: 105px;
}

.nav {
	border-left: 2px solid #EFEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}

.nav > p {
	color: #AFAFAF;
	font-size: 25px;
	font-weight: bold;
	padding: 0 15px;
}

.nav > i {
	font-size: 20px;
	color: #AFAFAF;
}

.nav > a {
	text-decoration: none;
	color: #9AB4C6;
	font-size: 16px;
	padding: 0 10px;
}


.head {
	background-color: #FFF;
	margin: 20px;
	box-shadow: 2px 2px 5px #444;
}

.title {
	border-bottom: 3px solid #EFEFEF;
}

.title > h1 {
	padding: 15px;
	color: #B6B6B6;
	text-transform: uppercase;
	font-size: 25px;
}

.periodForm {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	padding: 20px 0 30px 0;
	border-bottom: 3px solid #EFEFEF;
	color: #838383;
	}

.periodForm-inputDateContainer {
	border: 3px solid #EFEFEF;
	padding: 10px;
}

	
.periodForm-inputDateContainer > i {
	padding-right: 10px;
}	
	
.periodForm-inputDateContainer-date {
	border: none;
}	

.periodForm-inputDateContainer > .date-start {
	border-right: 3px solid #EFEFEF;
}

.periodForm-btn {
	background-color: orange;
	color: #FFF;
	border: none;
	padding: 10px;
	margin: 0 10px;
	transition-duration: 1s;
}

.periodForm-btn:hover {
	color: orange;
	background-color: #EFEFEF;
	cursor: pointer
}

.dane{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.dane > .table {
	margin: 0 30px;

}


.column-left, .column-right {
	margin: 10px 0;
	padding-top: 30px;
	border: none;
	border-bottom: 1px solid #EFEFEF;
	font-weight: bold;
}

.column-left {
	padding-right: 200px;
	color: #B6B6B6;
}

.chart, .link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.earningChart {
	margin: 20px 0;
}

.link > .table {
	margin: 20px 0;
	padding: 0 20px;
}

.column-right > .t-container > a {
	text-decoration: none;
	color: #9AB4C6;
}

.column-right > .t-container > a > i {
	padding: 5px;
	color: #FFF;
}

.t-row:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border: none;
	cursor: pointer;
}

.icon-link:hover {
	color: orange;
}

.col-m-1 {width: 8.33%;}
.col-m-2 {width: 16.66%;}
.col-m-3 {width: 25%;}
.col-m-4 {width: 33.33%;}
.col-m-5 {width: 41.66%;}
.col-m-6 {width: 50%;}
.col-m-7 {width: 58.33%;}
.col-m-8 {width: 66.66%;}
.col-m-9 {width: 75%;}
.col-m-10 {width: 83.33%;}
.col-m-11 {width: 91.66%;}
.col-m-12 {width: 100%;}
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}