@import "../node_modules/include-media/dist/_include-media.scss";
@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components";
@import "sections";
		
.index {
	background-color: $bgTopButton-color;
}