.subpage__periodForm {
	&-inputDateContainer {
        padding: 0 10px 0 0;
		min-width: 325px;
		min-height: 30px;
		display: flex;
		cursor: default;
		justify-content: start;   
		align-items: center;    
		border-radius: 3px;
        border: 1px solid $disabledBtn-color;
            
		&:hover {
			border: 1px solid $greyBorderForm-color;
			color: $text-color;
        }
            
		&:focus {
			color: $text-color;
			border: 1px solid $disabledBtn-color;
			outline: none;
        }  
            
		&-date {
            margin: 5px 0;
            padding: 0 10px;
            border: none;
            font: $textInput-font; 
			color: $text-color;

			@include media ('>phone', '<600px') {
				min-width: 80px;
			}

			@include media ('>600px') {
				min-width: 150px;
			}

			&:hover {
				border: none;
			}

			&::-webkit-inner-spin-button, &::-webkit-outer-spin-buttonm, &::-webkit-calendar-picker-indicator {
				display: none;
				-webkit-appearance: none;
			}
				
			&--endDate, &--endDate:hover {
				border-left: 1px solid $disabledBtn-color;
            }
            
            &[placeholder]{
                color: $headers-color;
                &:hover { 
                    color: $text-color; 
                }
			}
				
		}

		&-icon {
			display: inline-block;
			color: $headers-color;
		}

		&:hover {
			.subpage__periodForm-inputDateContainer-icon {
				color: $text-color;
			}	
		}
	}

	&-btn {
		&--orangeBtn {
			@extend .form__btn--orangeBtn;
		}
	}
}
