%arrowBody {
    margin: 14px 0;
    padding: 0 0 0 10px;
    display: inline-flex;
    border-radius: 0;
    width: 10px;
    height: 10px;
    border: solid $tableArrowUp-color;
    border-width: 1px 0 0 1px;
}

.pagination {
    width: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    font: $largeLink-font;
    
    & > a {
        padding: 10px 15px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        border-radius: 3px;

        &.active {
            color: $headers-color;
            font: $tablesLineHeader-font;
            background-color: $bgTableHover-color;
            cursor: default;
        } 
    }
    
    .arrowLeft {
        @extend %arrowBody;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .arrowRight {
        @extend %arrowBody;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
}