.leftColumn__leftNavbarWithTopButtons {
    margin: 30px 0;
    padding-top: 20px;
    border-top: 1px solid $text-color;

    @include media('>tablet') {
        margin: 0;
        padding: 0;
        width: 66.6%;
        height: 60px;
        background-color: $btnFont-color;
        display: flex;
        top: 0;
        right: 0;	
        position: fixed;
        justify-content: flex-end;
        border-top: none;
        border-bottom: 2px solid $disabledBtn-color;
    }

    @include media('>oldDesktop') {
        width: 75%;
    }
    
    @include media('>desktop') {
        width: 83.2%;
    }

    .leftNavbarWithTopButtons__topMenuButton {
        &-circleButton {
            @include media('>tablet') {
                left: 31px;
            }
        }

        &-body {
            width: 100%;

            @include media('>tablet') { 
                width: auto;
                border-left: 1px solid $disabledBtn-color;
                border-right: 1px solid $disabledBtn-color;
                border-bottom: 2px solid $disabledBtn-color;
                background-color: $btnFont-color;
             
                &:hover {
                    border-left: 1px solid $disabledBtn-color;
                    background-color: $bgTopButton-color;
                    .topMenuButton-body-icon {
                        color: $headers-color;
                    }
                }
            }
                    
            &-icon {
                color: $headers-color;
            }
            
            &-arrowDown {						
                @extend %arrowBody;
                margin: 14px 0 20px 0;
                padding: 8px 0 0 8px;
                width: 8px;
                height: 8px;
                -webkit-transform: rotate(225deg);
                -ms-transform: rotate(225deg);
                transform: rotate(225deg);
            }
 
            &-nameProfile {
                @extend .smallLink;
            }

            &-notOnlyIcons {
                padding: 0 20px 0 0;
            }
       
        }
    }

    &:first-child {
        &-body {
            @include media('>tablet') {
                border-left: 2px solid $disabledBtn-color;
            }
        }
    }

    &:last-child {
        &-body { 
            @include media('>tablet') {
                border-right: 2px solid $disabledBtn-color;
            }
        }
    }
}
