.index__subpage {
    @extend %subpage;

    &--Links, &--banners {
        .subpage__scroll-wrapper {
            display: block;
            width: 100%;
            overflow-x: auto;
        }

        .subpage__form {
            margin: 20px 0;
            display: flex;
            justify-content: center;
            border-bottom: none;
            &-btn {
                &--orangeBtn {
                    @extend .form__btn--orangeBtn;
                }
            }
        }

        .subpage__table {
            padding: 10px 0;

            @include media ('>phone', '<tablet') { 
                padding: 10px;
            }

            &-tr {
                &-td {
                    height: 59px;
                    flex: 2;
                    align-items: center;

                    &:first-child {
                        color: $headers-color;
			            font: $tablesLineHeader-font;
                    }

                    &:nth-child(2) {
                        font: $largeLink-font;
                    }
    
                    &:last-child {
                        flex: 0;
                        // display: inline-flex;
                        justify-content: flex-end;
                        .subpage__table--withLink-tr-td-link {						
                            visibility: hidden;
                            &-icon {
                                margin: 0 10px;
                                color: $walletP-color;
                                
                                &:hover {
                                    color: $orangeBtn-color;
                                }
                                
                                &--links {
                                    font-size: 0.7em;
                                }
                                
                                // &--trash {
                                //     @extend .trash;
                                // }
                            }
                        }
                    }
                }
    
                &:hover{
                    .subpage__table--withLink-tr-td:last-child {
                        .subpage__table--withLink-tr-td-link {						
                            visibility: visible;
                        }
                    }
                }	
            }
        }
    }
}